@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

:root {
  --primary: #3563E9;
  --primary-light: #5CAFFC;
  --background-page: #F6F7F9;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  user-select: none;
}